
GuildGame/Library/AnnotationManager
GuildGame/Library/InspectorExpandedItems.asset
GuildGame/Library/LastSceneManagerSetup.txt
GuildGame/Library/LibraryFormatVersion.txt
GuildGame/Library/expandedItems
GuildGame/Library/EditorUserSettings.asset
